* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    background-image: url("bgc weather app.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

nav{
    height: 10vh;
    display: flex;
    
}
nav span{
    color: black;
    font-size: 30px;
    margin-top: 26px;
    font-weight: 600;
    
}

#logo{
    height: 75px;
    width: 75px;
}

.search-container{
    margin-top:40px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input{
    width: 40%;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    border: none;
    background-color: rgba(107, 247, 200, 0.562);
    font-size: 16px;
    color: black;
}

button{
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 8px 25px;
    cursor: pointer;
}


.result-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-container h1{
    font-weight: 400;
}

.result-container h3{
    font-weight: 400;
    font-size: 24px;
}

.temp-and-img{
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.temp-and-img p{
    font-size: 28px;
    margin-top: 15px;
}

.other-detail-table {
    margin-top: 20px;
    background-color:rgba(151, 228, 252, 0.562) ;
    padding: 10px;
    border-radius: 15px;
    
}

table{
    border-collapse: separate;
    border-spacing: 50px 0;
}
